{% include 'header.html' %}
<div class="slide-it">
        <form action="/search_sources" method="GET" class="grid"
          style="grid-column: 3 span;">
          <input type="search" value="{{ request.query_params['q'] }}" name="q"
            placeholder="Search sources... Use @source:, @title:, or @company_name: to be more targetted"
            hx-get="/search_sources" hx-push-url="true" hx-params="q"
            hx-trigger="input keyup changed delay:500ms, search"
            hx-target="#results"
            hx-indicator="#loading"
            style="align-self: center; margin-top: var(--pico-spacing);">
        </form>
      </header>
      <div id="results" style="flex-grow: 1;">
        {{ html_content|safe }}
      </div>
      </div>
{% include 'footer.html' %}